<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScoreMapper">
	<resultMap type="Course" id="courseMap">	
		<id column="courseId" property="id"/>
		<result column="courseName" property="name"/>
		<result column="courseCredit" property="credit"/>
	</resultMap>
	
	<resultMap type="Student" id="studentMap">	
		<id column="studentId" property="id"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<resultMap type="Score" id="scoreMap">
		<id column="scoreId" property="id"/>
		<result column="points" property="points"/>
		<association property="student" javaType="student" resultMap="studentMap"/>
		<association property="course" javaType="Course" resultMap="courseMap"/>
	</resultMap>
	
    <insert id="save" parameterType="Score" useGeneratedKeys="true">
	    insert into scores (student_id, course_id, points) values (#{student.id}, #{course.id}, #{points})
	    <selectKey resultType="int" order="AFTER" keyProperty="id" >
			SELECT LAST_INSERT_ID() AS id    
    	</selectKey>
	</insert>
	
	<select id="getStudentScores" parameterType="int" resultMap="scoreMap">
		SELECT stu.id as studentId, stu.name, sc.id as scoreId, sc.points,  
		c.id as courseId, c.name as courseName, c.credit as courseCredit
		FROM students stu, scores sc, courses c 
		WHERE stu.id = sc.student_id AND sc.course_id = c.id AND
		stu.id = #{id}
	</select>
</mapper>